/deployment.php
/deployment.log

/.idea*


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

/public/.htaccess
!.gitkeep
/src/DataFixtures/test_data_nta.ods
/idea-2025-03-09/
