{{ importmap('image_recognition') }}
<style>
    video {
        clear: both;
        display: block;
        margin: 10px;
        background: #000000;
        width: 640px;
        height: 480px;
    }
</style>
<span id="class-names" data-names="{{ class_names|json_encode }}"></span>
<div>
    <button id="predict-image">Predict image</button>
</div>
<div>
    <video id="webcam" autoplay></video>
</div>
<div>
    <h1 id="prediction-info"></h1>
</div>
