{% extends 'admin/admin_base.html.twig' %}

{% block admin_page_content %}

    <label for="box-updates">Låduppdateringar</label>
    <textarea name="box-updates" id="box-updates" cols="10" rows="50"></textarea>
{% endblock %}