{% extends 'base.html.twig' %}

{% block body %}
    <span id="boxes-left" class="visually-hidden" data-boxes-left="{{ boxes_left|json_encode }}"></span>
    <div
            {{ stimulus_controller('bookingform') }}
            data-bookingform-boxesleft-value="{{ boxes_left|json_encode }}"
    >
        {{ form(form) }}
    </div>
{% endblock %}